
#btnav{
    width: 250px;
    height: 40vh;
    position: fixed;
    right: 0;
    top: 0;
    background:transparent;
    background-position: center;
    border-radius: 10%;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color:#ffffff;
}

#menu{
    width: 50px;
    height: 50px;
    background: transparent;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menu img{
    width: 20px;
    margin-top: 15px;


}

nav .logo{
    width: 200px;
    position: fixed;
}
.sis{
   display: flex;
   align-items: center;
   padding: 20px;
   padding-left: 280px;
   padding-top: 0px;
   padding-right: 10px; 
   height: 0px
}
.logo{
    width: 25%;
    
}
.sis nav{
    flex: 1;
    text-align: left;

}

.sis nav ul li{
    display: inline-block;
    margin-left: 90px;
    text-align: center;
    
}
.sis nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
   
}
.sis nav ul{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
   
}
.sis nav ul li :hover{
    color: rgb(0, 255, 234);;
    
    
}
.acitive{
    transform: translate(10px, 10px);
      background-color:#000000;
      border-radius: 10%;
      border-width:50px; 
}
.sis nav ul li a.acitive{
    color: rgb(0, 255, 234);
   
}
.sis nav ul li a:hover{
    color: rgb(0, 255, 234);;
    
}
.sis nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}
fieldset{
   
    border-radius: 10%;
    border-color: rgb(32, 87, 69);
}


#img {
 background-image: url(img/cosmo-hub.png);
 
}
#fild2{
    background-position: center;
    border-radius: 10%;
    border-color:#40E0D0;
}


